
.button {
    font-size: 25px;
    margin-left: 10%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .form-group label {
      width: 280px;
      display: inline-block;
      margin-left: 40px
  
    }
  
    .form-detail label {
      width: 280px;
      display: inline-block;
      margin-left: 40px
      
  
    }
  
    
    .signin-container {
      text-align: center;
      margin-top: 40px;
      display: flex; /* Use flexbox to align items */
      justify-content: center; /* Center items horizontally */
      gap: 20px; /* Spacing between blocks */
    }
    .signin-box {
      border: 1px solid #ccc;
      padding: 20px;
      max-width: 300px;
      width: 100%; /* Set width to fit flex container */
    }
    .input-label {
      display: block;
      margin-bottom: 10px;
    }
    .input-field {
      width: calc(100% - 16px); /* Adjust width to account for padding */
      padding: 8px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
    .signin-button {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 10px 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .signin-button:hover {
      background-color: #45a049;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
    }
    
    .heading {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
    
    .message {
      font-size: 18px;
      color: #666;
    }
   
    /* feedback showing <h2>*/
    .feedbackHeading {
      color: #2196F3;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 32px;
      text-align: center;
      border-bottom: 2px solid #2196F3;
      padding-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
  }